#version: "3.9"

services:
  db:
    image: mariadb:10.6
    container_name: hostel-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: admin@123
      MYSQL_DATABASE: hostel_db
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  web:
    build: .
    container_name: hostel-web
    restart: always
    depends_on:
      - db
    ports:
      - "5000:5000"
    env_file:
      - .env
    environment:
      DB_HOST: db        # Use service name for internal network
      DB_PORT: 3306
      DB_NAME: hostel_db
      DB_USER: root
      DB_PASSWORD: admin@123
    volumes:
      - .:/app
 
  prometheus:
    image: prom/prometheus:v2.54.0
    container_name: prometheus
    restart: always
    depends_on:
      - web
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prom_data:/prometheus

  grafana:
    image: grafana/grafana:10.4.5
    container_name: grafana
    restart: always
    depends_on:
      - prometheus
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin@123
    volumes:
      - grafana_data:/var/lib/grafana

volumes:
  db_data:
  prom_data:
  grafana_data:

